:root {
    /* --principalColour: #68F5F0; */
    --principalColour: #7C67A8;
    --principalColourHover: #ffffff;
    --secondColour: #D0A9F5;
    --grey: #C9C9C9;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--principalColour);
}

.my-photo {
    border-radius: 50%;
}

.photo {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    /* padding: 10px; */
    opacity: .5;
    /* width: 150px; */
}

.photo:hover {
    box-shadow: 0 0 2px 1px var(--grey);
    opacity: 1;
}

.myPhoto-container {
    width: 60%;
}

.photo-container {
    width: 25%;
    margin-bottom: 2em;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.justify-photo {
    display: flex;
    justify-content: center;
}

.header {
    background-color: var(--principalColourHover);
    padding-top: 10px;
    padding-bottom: 20px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}

.title span {}

.title-2 {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    text-align: center;
    background-color: var(--secondColour);
    margin-top: 0;
}

.title-3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
}

.subtitle-1 {
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
}

.subtitle-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    text-align: left;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    /* letter-spacing: 0.05rem; */
}

.icon {
    width: 5vw;
}

a {
    text-decoration: none;
}

.icons-container {
    display: flex;
    justify-content: space-around;
}

.sidenav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}

li {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li:hover {
    background-color: var(--principalColourHover);
    color: black;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: right;
}

.card {
    background-color: var(--principalColourHover);
    padding: 2%;
    margin: 2%;
}

a {
    color: var(--principalColourHover);
}

.words a {
    color: var(--grey);
    padding: 8px;
}

a:hover {
    color: var(--principalColourH);
}

a:active {
    color: var(--secondColour);
}

.phrase {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.list {
    text-align: left;
}

.list dt {
    font-weight: 900;
}

.office-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.office-icon {
    width: 5vw;
}

dd {
    margin-bottom: 1em;
}

.return {
    color: black;
    padding-top: 2rem;
}

.return-icon {
    width: 1em;
}

.overflow {
    overflow: hidden;
}